


<nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      
        <li class="nav-item">
          <a class="nav-link"  routerLink="task-save">Yeni Tapsiriq</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="tasks" >Tapsiriqlar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="student-save" >Yeni Telebe</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="student-list" >Telebeler</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login" >Giris</a>
          </li>
     
        
      </ul>
     
    </div>
  </nav>