#basket-products-table-body{
text-align: center; 
    padding: 5px;
     border: 1px solid grey;

    
}
img{max-height: 60px;max-width: 60px;}

th,tr,td{
 border: 1px solid grey;
    text-align: center;
   
}
thead{
     border: 1px solid grey;
    text-align: center;
}

table{
    width: 80;
}