/projects/Java-project-Cavid-7675/nbproject/private/
/projects/Java-project-Cavid-7675/build/
/projects/JavaFx-aprel11/nbproject/private/
/projects/JavaFx-aprel11/build/
/projects/JavaFx-aprel11/dist/
/projects/JavaFX-aprell11-7675/nbproject/private/
/projects/JavaFX-aprell11-7675/build/
/projects/JavaFX-aprell11-7675/dist/
/projects/Toplama/nbproject/private/
/projects/Toplama/build/
/projects/Toplama/dist/
/projects/Toplama1/nbproject/private/
/projects/Toplama1/build/
/projects/Toplama1/dist/
/projects/ToplamaSuper/nbproject/private/