/projects/Java-project-Cavid-7675/nbproject/private/
/projects/Java-project-Cavid-7675/build/
/projects/JavaFx-aprel11/nbproject/private/
/projects/JavaFx-aprel11/build/
/projects/JavaFx-aprel11/dist/
/projects/JavaFX-aprell11-7675/nbproject/private/
/projects/JavaFX-aprell11-7675/build/
/projects/JavaFX-aprell11-7675/dist/
/projects/Toplama/nbproject/private/
/projects/Toplama/build/
/projects/Toplama/dist/
/projects/Toplama1/nbproject/private/
/projects/Toplama1/build/
/projects/Toplama1/dist/
/projects/ToplamaSuper/nbproject/private/
/projects/Calculator/nbproject/private/
/projects/Calculator/dist/
/projects/Calculator/build/
/projects/Java-project-Cavid-7675/dist/
/projects/Ttoplama/nbproject/private/
/projects/Ttoplama/build/
/projects/Ttoplama/dist/
/projects/Toplama2/nbproject/private/
/projects/Toplama2/build/
/projects/Toplama2/dist/
/projects/Toplama1a/nbproject/private/
/projects/Toplama1a/build/
/projects/Toplama1a/dist/
/projects/Slider-aprel11-7675/nbproject/private/
/projects/Slider-aprel11-7675/build/
/projects/Slider-aprel11-7675/dist/
/projects/ImageView/nbproject/private/
/projects/ImageView/build/
/projects/ImageView/dist/
/projects/JavaFXApplication13/nbproject/private/
/projects/ListView/nbproject/private/
/projects/ListView/build/
/projects/ListView/dist/
/projects/aprel11-Listview-7675/nbproject/private/
/projects/aprel11-Listview-7675/build/
/projects/aprel11-Listview-7675/dist/
/projects/Aprel11--ListView-7675/nbproject/private/
/projects/Aprel11--ListView-7675/build/
/projects/Aprel11--ListView-7675/dist/
/projects/TelebeQeydiyyati/nbproject/private/