   table{
            width: 100%;
             border-collapse: collapse;

        }
        tr{
        background-color: black
        }
        td,th{
       color: white;
         font-size: 180%;   
        }
        caption{
            background-color:aqua
        }
        table,th,td{ 
            border: 2px solid red;
            padding: 5px;
            text-align: center;
        }
        th{ 

            vertical-align: middle;
}