<button
          
  
mat-button class="btn btn-danger" (click)="closeUptadeSaveDialog()" ><mat-icon>close</mat-icon></button>
<h2 mat-dialog-title>Shop Uptade</h2>

<mat-dialog-content  >

<div class="container">
    <form (ngSubmit)="!shopForm.invalid && onEditShop()" #shopForm="ngForm" style="width: 800px;">

      <div class="form-group">
        <label for="shop-name">Mehsul:</label>
        <input
          type="text"
          class="form-control"
          id="shop-name"
          name="shop-name"
          [(ngModel)]="shop.name"
         
          value="{{shop.name}}"
        />
        <span  class="error-message" *ngFor="let error of errorShop.errorName" > 
          {{error}}<br>
              </span>
      </div>
      <div class="form-group">
        <label for="description-name">Melumat:</label>
        <input
          type="text"
          class="form-control"
          id="description-name"
          name="description-name"
          [(ngModel)]="shop.description"
         
          value="{{shop.description}}"
        />
        <span  class="error-message" *ngFor="let error of errorShop.errorDescription" > 
          {{error}}<br>
              </span>
      </div>
      <div class="form-group">
        <label for="status-name">Status:</label>
        <input
          type="text"
          class="form-control"
          id="status-name"
          name="status-name"
          [(ngModel)]="shop.status"
         
          value="{{shop.status}}"
        />
        <span  class="error-message" *ngFor="let error of errorShop.errorStatus" > 
          {{error}}<br>
              </span>
      </div>
      <div class="form-group">
        <label for="category">Kategoriya:</label>
       <select   class="form-control" [(ngModel)]="shop.categoryid" id="category"
       name="category">
<option *ngFor="let category of categories" value="{{category.id}}">{{category.category}}</option>

       </select>
      </div>
      <div class="form-group">
        <label for="shop-price">Qiymet</label>
        <input
          type="number"
          class="form-control"
          id="shop-price"
          name="shop-price"
          [(ngModel)]="shop.price"
        
          value="{{shop.price}}"
        />
      </div>
      <div class="form-group">
        <label for="shop-begin-date">Tarix</label>
        <input
          type="date"
          class="form-control"
          id="shop-begin-date"
          name="shop-begin-date"
          [(ngModel)]="shop.beginDate"
       
          value="{{shop.beginDate}}"
        />
      </div>
      <div class="form-group">
        <label for="shop-image">Sekil</label>
        <input
        type="file"
          class="form-control"
          id="shop-image"
          name="shop-image"
      (change)="onImageSelected($event)"
        />
      </div>
      
 <br>
      <button type="submit" class="btn btn-warning"><mat-icon>edit</mat-icon></button>
    </form>
  </div>
</mat-dialog-content>


