

<div title='Sebet' data-toggle='tooltip' data-placement='right' style="position:fixed;right:20px;bottom:20px;width:120px;">

  <button style="width: 100%;"  mat-button
    class="btn btn-success"(click)="openBasket()">
    <mat-icon>shopping_cart</mat-icon><div>({{basketCount}})</div></button>


</div>

<div class="product-card"  *ngFor="let shop of shops " style="width: 18%;margin: 1%;">
  <div class="product-card-item">
  <div class="photo-div">
  <img class="book-photo" src="{{shop.image}}">
  </div>
  <div class="text-div">
  <p class="price-text">{{shop.price}} Azn</p>
  <p class="name-text">{{shop.name}}</p>
  <p class="desc-text">{{shop.description}}</p>
  <div style="text-align:center;">
    <button  mat-button class="btn btn-primary" (click)="openDialog(shop.id)" style="padding: 8px;margin: 3px"><mat-icon>add_shopping_cart</mat-icon></button>
    <button  mat-button class="btn btn-info" (click)="openInfoDialog(shop.id)" style="padding: 8px;margin: 3px">
      <mat-icon>visibility</mat-icon></button>
 
  </div></div></div></div>
