

<div class="card" *ngFor="let shop of shops "  style="float: left; width:18%;margin: 1%;;">
    <img class="card-img-top" src="{{shop.image}}" alt="Card image" style="width:100%;height: 250px;  ">
    <div class="card-body" >
      
     
      <p class="card-text"> <b >Adi:</b>{{shop.name}}</p>
      <p class="card-text"> <b >Sahibi:</b>{{shop.username}}</p>
      <p class="card-text"> <b >Description:</b>{{shop.description}}</p>
      <p class="card-text"> <b >Status:</b>{{shop.status}}</p>
      <p class="card-text"> <b >Qiymeti:</b>{{shop.price}}</p>
      <p class="card-text"> <b >Tarix:</b>{{shop.beginDate}}</p>
     <button mat-button class="btn btn-primary" (click)="openDialog(shop.id)">Sebete at</button>
   
    </div>
</div>

<div title='Sebet' data-toggle='tooltip' data-placement='right' style="position:fixed;right:20px;bottom:20px;width:120px;">

  <button style="width: 100%;"  mat-button
    class="btn btn-success"(click)="openBasket()">
    <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='currentColor' class='bi bi-cart4'
      viewBox='0 0 16 16'>
      <path
        d='M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z' />
    </svg><div>({{basketCount}})</div></button>


</div>
