html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
select,
textarea,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: sans-serif;
    background-color: #f7f6f6;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

img {
    border: 0;
}

:focus {
    outline: 0;
}

.clear {
    clear: both;
}

#container {
    width: 950px;
    margin: 0 auto;
}

.product-card {
    height: auto;
    width: 20%;
    float: left;
    padding: 10px;
    box-sizing: border-box;

}
@media screen and (max-width:1176px) {
  
    .product-card{
        width: 25%;
    }
}
@media screen and (max-width:960px) {
    #container{
        width: 790.875px;
    }
    .product-card{
        width: 33.33%;
    }
}

@media screen and (max-width:810px) {
    #container{
        width: 474.4px;
    }
    .product-card {
        width: 50%;
    }
}
.product-card-item {
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
     overflow: hidden;
    
    -webkit-box-shadow: 0px 0px 17px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 17px -6px rgba(0,0,0,0.75);
box-shadow: 0px 0px 17px -6px rgba(0,0,0,0.75);
    cursor: pointer;
    transition: 0.3s;
}
.product-card-item:hover{
        -webkit-box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
}
.photo-div{
    height: 325px;
    width: 100%;
    overflow: hidden;
}
.book-photo{
    width: 100%;
    height: 100%;
}
.text-div{
    width: 100%;
    
    background-color: white;
    padding: 10px;
}
.price-text{
    font-size: 18px;
    font-weight: 600;
}
.name-text{
    margin-top: 2px;
}
.desc-text{
    margin-top: 2px;
    color: grey;
}
.auth-text{
    margin-top: 2px;
    color: grey;
}

.page-text{
    margin-top: 2px;
    color: grey;
    
}


#open-basket-button{
	position:fixed;
	right:20px;
	bottom:20px;
	width:120px;
	
	
}

#search-input{
	position:fixed;
	right:20px;
	bottom:70px;
	width:120px;
	
}


.modal{
  display:none;
  background-color:rgb(0,0,0,0.3);
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  padding-top:100px;
  padding-bottom:100px;
  overflow:auto;
  box-sizing: border-box;
}

@keyframes modal-animation {
 from {transform:scale(0);}
 to {transform:scale(1);}
}

.modal-content{
width:70%;
height:auto;
border-radius:10px;
background-color:lightblue;
position:relative;
animation-name:  modal-animation;
animation-duration: 0.4s;
min-height:160px;
margin: auto;
padding: 5px 10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.basket-product-image{width:30px;}

.price-text::before{
    content: "Qiymet:";
}
.name-text::before{
    content: "Kitabin Adi:";
}
.desc-text::before{
    content: "Tesvir:";
}
.auth-text::before{
    content: "Muellif:";
}
.page-text::before{
    content: "Sehife Sayi:";
}