<button
          
  
mat-button class="btn btn-danger" (click)="closeShopSaveDialog()" ><mat-icon>close</mat-icon></button>
<h2 mat-dialog-title>Shop Save</h2>

<mat-dialog-content  >

<div class="container">
    <form (ngSubmit)="!shopForm.invalid && onSaveShop()" #shopForm="ngForm" style="width: 800px;">
      <div class="form-group">
        <label for="name">Ad:</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          [(ngModel)]="shop.username"
          required
          [minlength]="minimum"
          [maxlength]="maksimum"
        />
      </div>
      <div class="form-group">
        <label for="shop-name">Mehsul:</label>
        <input
          type="text"
          class="form-control"
          id="shop-name"
          name="shop-name"
          [(ngModel)]="shop.name"
          required
          [minlength]="minimum"
          [maxlength]="maksimum"
        />
      </div>
      <div class="form-group">
        <label for="description-name">Melumat:</label>
        <input
          type="text"
          class="form-control"
          id="description-name"
          name="description-name"
          [(ngModel)]="shop.description"
          required
          [minlength]="minimum"
          [maxlength]="maksimum"
        />
      </div>
      <div class="form-group">
        <label for="status-name">Status:</label>
        <input
          type="text"
          class="form-control"
          id="status-name"
          name="status-name"
          [(ngModel)]="shop.status"
          required
          [minlength]="minimum"
          [maxlength]="maksimum"
        />
      </div>
      <div class="form-group">
        <label for="category">Kategoriya:</label>
       <select   class="form-control" [(ngModel)]="shop.categoryid" id="category"
       name="category">
<option *ngFor="let category of categories" value="{{category.id}}">{{category.category}}</option>

       </select>
      </div>
      <div class="form-group">
        <label for="shop-price">Qiymet</label>
        <input
          type="number"
          class="form-control"
          id="shop-price"
          name="shop-price"
          [(ngModel)]="shop.price"
          required
          [minlength]="minimum"
          [maxlength]="maksimum"
        />
      </div>
      <div class="form-group">
        <label for="shop-begin-date">Tarix</label>
        <input
          type="date"
          class="form-control"
          id="shop-begin-date"
          name="shop-begin-date"
          [(ngModel)]="shop.beginDate"
          required
      
        />
      </div>
      <div class="form-group">
        <label for="shop-image">Sekil</label>
        <input
        
          class="form-control"
          id="shop-image"
          name="shop-image"
          [(ngModel)]="shop.image"
          required
      
        />
      </div>
      
 <br>
      <button type="submit" class="btn btn-primary">yadda saxla</button>
    </form>
  </div>
</mat-dialog-content>

