<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <head>
    <meta charset="utf-8">
    <title>Home page</title>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link th:href="@{/css/customer.css}" rel="stylesheet">
    <style>

    </style>
</head>
<body><div th:replace="menu :: menu"></div>
    <div class="product-card"  th:each="book: ${books} ">
        <div class="product-card-item">
        <div class="photo-div">
        <img class="book-photo"  th:src="@{/images/java.jpg}">
        </div>
        <div class="text-div">
        <p class="price-text"  th:text="${book.price}"> </p>
        <p class="name-text" th:text="${book.name}"   th:title="${book.name}" ></p>
        <p class="desc-text"  th:text="${book.description}" th:title="${book.description}"></p>
        <p class="auth-text" th:text="${book.author}" th:title="${book.author}"> </p>
        <p class="page-text"   th:text="${book.pageCount}"></p>
     
        <div style="text-align:center;">
          <button class="btn btn-primary add-to-basket-btn"> Sebete at</button>
        </div></div></div></div>
  
    <button id="open-basket-btn" class="btn-primary btn">Sebet<span  class="badge badge-light">4</span></button>
<input id="search-input" class="form-control" placeholder="Axtaris"> 
</body>  

</html>