<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <head>
    <meta charset="utf-8">
    <title>Home page</title>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link th:href="@{/css/customer.css}" rel="stylesheet">
    <style>

    </style>
</head>
<body><div th:replace="menu :: menu"></div>
   <div id="main-content">
       
    
   </div>
   
   <button id='open-basket-btn' class='btn-primary btn'>Sebet<span  class='badge badge-light'>4</span></button>
   <input id='search-input' class='form-control' placeholder='Axtaris'> 
<script>
    var xht=new XMLHttpRequest();
    xht.onreadystatechange=function () {
        if (this.readyState==4 && this.status == 200) {
            var responseJSON=this.responseText;
            var booksArray=JSON.parse(responseJSON);
            console.log(booksArray);
            var mainContent=document.getElementById('main-content');
var mainContentHTML="";
for(var i=0;i<booksArray.length;i++){
var book=booksArray[i];
mainContentHTML+="<div class='product-card'>";
mainContentHTML+="   <div class='product-card-item'>";
mainContentHTML+=" <div class='photo-div'>";
mainContentHTML+="     <img class='book-photo'  src='images/java.jpg'></div>";
mainContentHTML+="<div class='text-div'><p class='price-text' title="+book.price+" > "+book.price+" </p>";
mainContentHTML+="<p class='name-text'    title='"+book.name+"' >"+book.name+"</p>";
mainContentHTML+="<p class='desc-text'    title='"+book.description+"' >"+book.description+"</p>";
mainContentHTML+="<p class='auth-text'    title='"+book.author+"' >"+book.author+"</p> ";
mainContentHTML+="<p class='page-text'    title='"+book.pageCount+"' >"+book.pageCount+"</p> "
mainContentHTML+="<div style='text-align:center;'><button "+
    "class='add-to-basket-btn btn btn-primary' onclick='addToBasket("+book.id+")'>Səbətə at</button></div>";
mainContentHTML+="</div></div></div></div>";
}

mainContent.innerHTML=mainContentHTML;
        }
    }
    xht.open("GET","/rest/books",true);
    xht.send();    
</script>
</body>  

</html>