<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Yeni Kitab</title>
    <style>
      .error-span {
        color: red;
      }
    </style>
  </head>

  <body>
    <div th:replace="menu :: menu"></div>

    <h1 th:text="${header}" style="text-align: center">Yeni KItab</h1>
    <a th:href="@{/books}">Kitablarin siyahisi</a>
    <div style="margin-left: 25%; width: 50%">
      <form
        th:action="@{/books/new-book-procces}"
        method="POST"
        th:object="${book}"
        id="book-register-form"
        enctype="multipart/form-data"
      >
        <input type="hidden" th:field="*{id}" />
        <div class="form-group">
          <label for="book-name">Ad:</label>
          <input class="form-control" id="book-name" th:field="*{name}" />
          <span
            class="error-span"
            th:if="${#fields.hasErrors('name')}"
            th:errors="*{name}"
          ></span>
        </div>
        <div class="form-group">
          <label for="book-desc">Tesvir:</label>
          <textarea
            class="form-control"
            id="book-desc"
            th:field="*{description}"
          ></textarea>
          <span
            class="error-span"
            th:if="${#fields.hasErrors('description')}"
            th:errors="*{description}"
          ></span>
        </div>
        <div class="form-group">
          <label for="book-price">Qiymet:</label>
          <input
            class="form-control"
            type="number"
            id="book-price"
            th:field="*{price}"
          />
          <span
            class="error-span"
            th:if="${#fields.hasErrors('price')}"
            th:errors="*{price}"
          ></span>
        </div>
        <div class="form-group">
          <label for="book-auth">Muellif:</label>
          <input class="form-control" id="book-auth" th:field="*{author}" />
          <span
            class="error-span"
            th:if="${#fields.hasErrors('author')}"
            th:errors="*{author}"
          ></span>
        </div>
        <div class="form-group">
          <label for="book-page-count">Sehife sayi:</label>
          <input
            class="form-control"
            type="number"
            id="book-page-count"
            th:field="*{pageCount}"
          />
          <span
            class="error-span"
            th:if="${#fields.hasErrors('pageCount')}"
            th:errors="*{pageCount}"
          ></span>
        </div>
        <div class="form-group">
          <label for="book-image">Sekil:</label>
          <input
            class="form-control"
            type="file"
            id="book-image"
            name="imageFile"
            accept="image/x-png,image/jpeg,image/jpg"
          />
        </div>

        <input type="submit" class="btn btn-success" value="Qeydiyyat" />
      </form>
    </div>
  </body>
</html>
