<div class="container">
    <form (ngSubmit)="onSaveStudent()">
      <div class="form-group">
        <label for="name">Ad:</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          [(ngModel)]="student.name"
        />
      </div>
      <div class="form-group">
        <label for="surname">Soyad:</label>
        <input
          type="text"
          class="form-control"
          id="surname"
          name="surname"
          [(ngModel)]="student.surname"
        />
      </div>
      <div class="form-group">
        <label for="phone">Telefon:</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          name="phone"
          [(ngModel)]="student.phone"
        />
      </div>
     
     
      <button type="submit" class="btn btn-primary">yadda saxla</button>
    </form>
  </div>
  
