<table class="table table-dark">
  <thead>
    <tr>
      <th>ID</th>
      <th>Ad</th>
      <th>Tapsiriq</th>
      <th>Melumat</th>
      <th>Status</th>
      <th>Baslama tarixi</th>
      <th>Bitme tarixi</th>
      <th>Emeliyyatlar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.id }}</td>
      <td>{{ task.name }}</td>
      <td>{{ task.username }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.status }}</td>
      <td>{{ task.begindate }}</td>
      <td>{{ task.enddate }}</td>
      <td><button (click)="deleteTaskById(task.id)" class="btn btn-dark btn border">Sil</button></td>
    </tr>
  </tbody>
</table>
