<button
          
  
mat-button class="btn btn-danger" (click)="closeBasketSaveDialog()" ><mat-icon>close</mat-icon></button>
<mat-dialog-content  >
 
<table class="table table-light"  style="width: 800px;">
    <thead>
      <tr>
        <th>ID</th>   
        <th>Mehsul</th>
        <th>Qiymet</th>
        <th>Sayi</th>
        <th>Sekil</th>
        <th><b>Umumi Qiymet</b></th>
        <th>Emeliyyatlar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let baskett of tableBaskets" >
        <td>{{ baskett.id }}</td>
        <td>{{ baskett.shopname }}</td>
        <td>{{ baskett.price }}</td>
        <td>  <div class="form-group"><input value="{{ baskett.count }}"   type="number" id="countInput"  name="countInput"  class="form-contol"  (blur)="onCountChanged(baskett.id,baskett.shopid,$event)"></div> </td>
        <td><img [src]="imagePath+baskett.image " style="width: 75px;"> </td>
        <td><h3>{{ baskett.allPrice }}</h3></td>
        <td><button mwlConfirmationPopover placement="left" 
          [popoverTitle]="popoverTitle" 
          [popoverMessage]="popoverMessage" 
          (confirm)="deleteBasketById(baskett.id)"
  
           class="btn btn-danger btn border"><mat-icon>delete</mat-icon></button>
          
          
        
      </tr>
    </tbody>
  </table>
  <h1>Umumi Qiymet:{{priceAll}}</h1>
  <button
          
  
  mat-button class="btn btn-primary" (click)="openOrderSaveDialog()" >Sifaris ver</button>

 
</mat-dialog-content>